<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    {{>navbar}}
    <h1 id="title">You</h1>
</body>
<script src="js/index.js"></script>
<script src="js/user.js"></script>
<h1>Name:</h1>
<h2 id="name"></h2><br>
<h1>Email:</h1>
<h2 id="email"></h2><br>
<h1>Number:</h1>
<h2 id="number"></h2><br>
<h1>Age:</h1>
<h2 id="age"></h2><br>
<h1>Address:</h1>
<h2 id="address"></h2><br>


</html>