    <header>
        <h1 id="logo" >Qbonanza</h1>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contacts</li>
            </ul>
        </nav>
    </header>