    <header>
        <h1 id="logo" >Qbonanza</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li id="login"><a href="/login">Login</a></li>
                <li id="register"><a href="/register">Register</a></li>
                <li id="logout"><a href="/logout">Logout</a></li>
                <li id="user"><a href="/User">You</a></li>
            </ul>
        </nav>
    </header>